* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

a {
  text-decoration: none;
  line-height: 0;
}

img {
  -webkit-user-drag: none;
}

.ul-1 {
  display: flex;
  margin: 0px;
  margin-top: 5px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.377);
}
.ul-1 li {
  position: relative;
  list-style: none;
  margin: 5px 50px;
  text-align: center;
  font-size: 5vw;
  color: rgb(255, 46, 151);
  font-family: sans-serif, serif;
  font-weight: bold;
  cursor: pointer;
}
.ul-1 li::after {
  content: "";
  width: 50%;
  height: 5px;
  position: absolute;
  left: 25%;
  top: 90%;
  background: #fff;
  transition: 1s;
  transform: scale(0, 1);
  transform-origin: center top;
}
.ul-1 li:hover::after {
  content: "";
  width: 50%;
  height: 5px;
  position: absolute;
  left: 25%;
  top: 90%;
  background: #fff;
  transition: 0.3s;
  transform: scale(1, 1);
  transform-origin: center top;
}

.ul-2 {
  display: flex;
  padding: 0px;
  margin: 0px;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.ul-2 li {
  margin: 10px;
  list-style: none;
  text-align: center;
  width: 23%;
  height: 100%;
}
@media (max-width: 780px) {
  .ul-2 li {
    width: 40%;
    height: 100%;
  }
}
.ul-2 .li-3 {
  background: rgba(0, 0, 0, 0.247);
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.ul-2 .li-3 a {
  width: 100%;
  height: auto;
}
.ul-2 .li-3 span {
  font-size: min(max(2vw, 16px), 30px);
  line-height: 1.4em;
  font-weight: bold;
  color: white;
}
.ul-2 .li-3 .box {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
.ul-2 img {
  width: 100%;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.ul-2 img:hover {
  transition: 0.8s;
  transform: scale(1.4, 1.4);
}

@media (max-width: 1500px) {
  #music {
    display: none;
  }
}
#music {
  position: fixed;
  right: -45px;
  bottom: -5px;
  z-index: 2;
}
#music iframe {
  position: absolute;
  bottom: 13px;
  right: 50px;
  width: 200px;
  height: 190px;
}
#music img {
  width: 100%;
}

#bg-mov {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}
#bg-mov #bg-movie {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}
#bg-mov #bg-movie video {
  width: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#main {
  border-style: double;
  border-width: 5px;
  border-color: rgba(255, 0, 0, 0.356);
  max-width: 1300px;
}

#menu {
  z-index: 2;
  position: fixed;
  left: -20px;
}
#menu .ul-menu .li-menu {
  padding: 10px 0px;
  list-style: none;
}
#menu .ul-menu .li-menu a {
  color: rgba(230, 121, 144, 0.836);
}
#menu .ul-menu .li-menu:hover {
  transition: 0.8s;
  margin-left: 5px;
}
#menu .ul-menu .li-menu:hover a {
  transition: 0.8s;
  color: rgb(255, 21, 138);
}

#header {
  line-height: 0;
  width: 100%;
  background: red;
  height: auto;
}
#header #header-img {
  width: 100%;
}

#content {
  background: rgba(0, 255, 98, 0);
  width: 100%;
  height: auto;
}

#gallery li {
  margin: 10px;
  list-style: none;
  text-align: center;
  width: 30%;
  height: 100%;
}
@media (max-width: 780px) {
  #gallery li {
    width: 100%;
    height: 100%;
  }
}
#gallery .ga-mv {
  padding-bottom: 5px;
}
#gallery .ga-1 .more {
  margin-top: 10px;
}
#gallery .ga-1 .more a {
  font-size: min(max(2vw, 14px), 24px);
  background: red;
  padding: 0 30px;
  border-radius: 5px;
  color: white;
}
#gallery .diary {
  display: none;
}

#banner {
  width: 100%;
  height: auto;
}

#footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#commodity img {
  width: 100%;
  height: auto;
}

#buy-car {
  z-index: 2;
  position: fixed;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 200px;
}
#buy-car .car-name {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
#buy-car .car {
  background: rgba(255, 0, 0, 0.178);
  width: 100%;
}
#buy-car .total {
  background: rgba(255, 0, 0, 0.342);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#buy-car .total p {
  margin-right: 10px;
}

.ul-buy {
  display: flex;
  padding: 0px;
  margin: 0px;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.ul-buy .li-buy {
  border-style: double;
  border-width: 5px;
  border-color: rgba(98, 0, 255, 0.541);
  list-style: none;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.ul-buy .li-buy .carCenter {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0px 5px;
}
.ul-buy .li-buy .carMoney {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.ul-buy .li-buy .carMoney p {
  margin: 0px;
}

.ul-comm {
  display: flex;
  padding: 0px;
  margin: 0px;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.ul-comm .li-comm {
  border-style: double;
  border-width: 5px;
  border-color: rgba(98, 0, 255, 0.541);
  margin: 10px;
  list-style: none;
  text-align: center;
  width: 22%;
  height: 100%;
}
.ul-comm .li-comm .comm-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.ul-comm .li-comm .comm-name span {
  margin: 10px;
  color: blue;
  font-size: 20px;
}
.ul-comm .li-comm .comm-name p {
  margin: 10px;
  color: red;
  font-size: 20px;
}
.ul-comm .li-comm .comm-buy {
  margin-bottom: 5px;
}/*# sourceMappingURL=style.css.map */